{% load static%}
<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playground</title>
</head>

<body>
    <header>
        {% include 'menu.html' %}
    </header>
    <main>
        <div class="container" style="margin: 5%;">
            <div class="row">
                <div class="col">
                    {% if dados.foto%}
                    <img src="{{dados.foto.url}}" class="img-thumbnail" alt="gameheader" style="width:65%;">
                    {% endif%}
                </div>
                <div class="col">
                    <h1 class="card-title">{{dados.title}}</h1>
                    <p class="#">
                        <h4>Descrição do Jogo</h4>
                        {{dados.description}}
                        <br><br>
                        <h5>Data de Lançamento</h5>
                        {{dados.lancamento|date:'d/m/Y'}}
                        <br><br>
                        <h5>Preço</h5>
                        R$ {{dados.price}}
                        <br>
                        <button class="btn btn-primary">Comprar</button>
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        {% include 'rodape.html' %}
    </footer>
</body>

</html>