<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil</title>
</head>
<body>
    <header>
        {% include 'menu.html' %}
    </header>
    <main>
        <div class="container">
            {% comment %} crie uma pagina para editar as informações do usuario como foto e biografia {% endcomment %}
            <div class="row">
                <div class="col-12">
                    <h1>Perfil</h1>
                </div>
                
        </div>
    </main>
    <footer>
        {% include 'rodape.html' %}
    </footer>
</body>

</html>
