<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil</title>
</head>
<body>
    <header>
        {% include 'menu.html' %}
    </header>
    <main>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Bem vindo {{ user.get_full_name }}</h1>
                <p class="lead">Veja aqui seus jogos favoritos e suas analises.</p>
                <hr class="my-4">                
                <p>It uses utility classes for typography and spacing to space content out within the larger container.
                </p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
        </div>
    </main>
    <footer>
        {% include 'rodape.html' %}
    </footer>
</body>

</html>